@CHARSET "UTF-8";

.all {
    margin-left: 10px;
}

.header2 {
    margin-bottom: 40px;
    margin-top : 20px;
}

.header2 h2 {
    float:left;
    font-family: "arial black";
    font-size: 30px;
}

.header2 a {
    margin-left: 30px;
}

.sort {
    margin-left: 40px;
    font-family: "arial black";
    font-size: 20px;
    float: left;
}

.fl {
    float: left;
    margin-left: 20px;
}

.card {
    border: 2px solid #dee7ec;
    width: 100;
    margin-left: 10px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.btn {
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}


.cb {
    clear: both;
}

#pagination {
    text-align: center;
    margin-top: 30px;
}
