@CHARSET "UTF-8";

#flush_success {
    margin-bottom: 20px;
    color: #33CCFF;
    margin-left: 20px;
    margin-top: 20px;
}

.all {
    margin-left: 20px;
}

.header2 {
    margin-bottom: 40px;
    margin-top : 20px;
}

.header2 h2 {
    float:left;
    font-family: "arial black";
    font-size: 30px;
}

.register {
    padding: 9px 20px;
    display:inline-block;
    opacity: 0.4;
    background-color: olive;
    margin-left: 30px;
    float: left;
}

.register:hover {
    opacity: 0.6;
}

.register a {
    color:yellow;
}

.list {
    padding: 9px 20px;
    opacity: 0.4;
    background-color: olive;
    margin-left: 30px;
    display:inline-block;
}

.list:hover {
    opacity: 0.6;
}

.list a {
    color:yellow;
}

.l {
    float: left;
}

.fl {
    float: left;
    margin-left: 20px;
}

.card {
    border: 2px solid #dee7ec;
    width: 100;
    margin-left: 10px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.importance {
    margin-left: 20px;
}

.btn {
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}

.del {
    padding: 9px 9px;
    display:inline-block;
    opacity: 0.6;
    background-color: #FFCCFF;
    margin-left: 10px;
    text-decoration: none;
}

.del:hover {
    opacity: 0.8;
}

.edit {
    padding: 9px 9px;
    opacity: 0.7;
    background-color: #CCCCCC;
    margin-left: 5px;
    display:inline-block;
}

.edit2 {
    text-decoration: none;
}

.edit:hover {
    opacity: 1.0;
}

.edit a {
    color:white;
}

.cb {
    clear: both;
}

#pagination {
    text-align: center;
    margin-top: 30px;
}
