@CHARSET "UTF-8";

#header {
    background-image:url(../image/block.jpg);
    height:50px;
}

.task_title {
    margin-left:20px;
    font-size: 30px;
    font-family: Impact;
    color:yellow;
}

body {
    background-image:url(../image/back.gif);
    height:100%;
    color: black;
}

#footer {
    text-align:center;
    margin-top: 50px;
}