<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet"  href="../css/reset.css">
    <link rel="stylesheet"  href="../css/style.css">
    </head>
    <body>
       <div class="top-contents">
           <a class="block_logo" href="#">
               <img src="../image/block.jpg" alt="ロゴ" width="25" height="25">
           </a>
           <h1 class="l task_title">BLOCK TASK一覧</h1></div>
           <div class="sort">
               <label class="sort">ソート一覧</label>
               <input type="text">
           </div>
       <div class="contents">

       <!-- block 1 -->
       <div class="block l">
       <div class="card">
        <h4 class="l">期限</h4>
        <input class="l" type="text">
        <h4>重要度</h4>
        <h4 class="ct">Title</h4>
        </bk>
        <ul>
            <li>行動</li>
            <li>必要</li>
            <li>備考・メモ</li>
        </ul>
        </div>

        <div class="t-btn mt10">
            <input class="l" type="submit" value="Task完了">
            </bk>
            <input class="te" type="submit" value="Task編集">
        </div>
        </div>

        <!-- block 2 -->
       <div class="block l">
        <div class="card">
        <h4 class="l">期限</h4>
        <input class="l" type="text">
        <h4>重要度</h4>
        <h4 class="ct">Title</h4>
        </bk>
        <ul>
            <li>行動</li>
            <li>必要</li>
            <li>備考・メモ</li>
        </ul>
        </div>

        <div class="t-btn mt10">
            <input class="l" type="submit" value="Task完了">
            </bk>
            <input class="te" type="submit" value="Task編集">
        </div>
        </div>

        <!-- block 3 -->
        <div class="block l">
        <div class="card">
        <h4 class="l">期限</h4>
        <input class="l" type="text">
        <h4>重要度</h4>
        <h4 class="ct">Title</h4>
        </bk>
        <ul>
            <li>行動</li>
            <li>必要</li>
            <li>備考・メモ</li>
        </ul>
        </div>

        <div class="t-btn mt10">
            <input class="l" type="submit" value="Task完了">
            </bk>
            <input class="te" type="submit" value="Task編集">
        </div>
        </div>

        <!-- block 4 -->
        <div class="block l mt">
        <div class="card">
        <h4 class="l">期限</h4>
        <input class="l" type="text">
        <h4>重要度</h4>
        <h4 class="ct">Title</h4>
        </bk>
        <ul>
            <li>行動</li>
            <li>必要</li>
            <li>備考・メモ</li>
        </ul>
        </div>

        <div class="t-btn mt10">
            <input class="l" type="submit" value="Task完了">
            </bk>
            <input class="te" type="submit" value="Task編集">
        </div>
        </div>

        <!-- block 5 -->
        <div class="block l mt">
        <div class="card">
        <h4 class="l">期限</h4>
        <input class="l" type="text">
        <h4>重要度</h4>
        <h4 class="ct">Title</h4>
        </bk>
        <ul>
            <li>行動</li>
            <li>必要</li>
            <li>備考・メモ</li>
        </ul>
        </div>

        <div class="t-btn mt10">
            <input class="l" type="submit" value="Task完了">
            </bk>
            <input class="te" type="submit" value="Task編集">
        </div>
        </div>

        <!-- block 6 -->
        <div class="block l mt">
        <div class="card">
        <h4 class="l">期限</h4>
        <input class="l" type="text">
        <h4>重要度</h4>
        <h4 class="ct">Title</h4>
        </bk>
        <ul>
            <li>行動</li>
            <li>必要</li>
            <li>備考・メモ</li>
        </ul>
        </div>

        <div class="t-btn mt10">
            <input class="l" type="submit" value="Task完了">
            </bk>
            <input class="te" type="submit" value="Task編集">
        </div>
        </div>

        <!-- block 7 -->
        <div class="block l mt">
        <div class="card">
        <h4 class="l">期限</h4>
        <input class="l" type="text">
        <h4>重要度</h4>
        <h4 class="ct">Title</h4>
        </bk>
        <ul>
            <li>行動</li>
            <li>必要</li>
            <li>備考・メモ</li>
        </ul>
        </div>

        <div class="t-btn mt10">
            <input class="l" type="submit" value="Task完了">
            </bk>
            <input class="te" type="submit" value="Task編集">
        </div>
        </div>

        <!-- block 8 -->
        <div class="block l mt">
        <div class="card">
        <h4 class="l">期限</h4>
        <input class="l" type="text">
        <h4>重要度</h4>
        <h4 class="ct">Title</h4>
        </bk>
        <ul>
            <li>行動</li>
            <li>必要</li>
            <li>備考・メモ</li>
        </ul>
        </div>

        <div class="t-btn mt10">
            <input class="l" type="submit" value="Task完了">
            </bk>
            <input class="te" type="submit" value="Task編集">
        </div>
        </div>

        <!-- block 9 -->
        <div class="block l mt">
        <div class="card">
        <h4 class="l">期限</h4>
        <input class="l" type="text">
        <h4>重要度</h4>
        <h4 class="ct">Title</h4>
        </bk>
        <ul>
            <li>行動</li>
            <li>必要</li>
            <li>備考・メモ</li>
        </ul>
        </div>

        <div class="t-btn mt10">
            <input class="l" type="submit" value="Task完了">
            </bk>
            <input class="te" type="submit" value="Task編集">
        </div>
        </div>
        </div>
    </body>
</html>